<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/pedido.js"></script>
  </head>
  <body onmousedown="elemento(event);">

	<form name="f1" action="grabaAlmuerzoProgramado" method="post">
	    <p><input type="text" name="" id=""></p>

	    <input type="submit" value="Guardar">
	</form>
  </body>
</html>