<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/pedido.js"></script>
  </head>
  <body onmousedown="elemento(event);">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<form action="grabaPedidoAdm" method="post">
	    <p><input type="text"></p>
	    <p>
	    	<select name="lstTipoPedido" id="lstTipoPedido">
	    		<option value="0">Seleccione</option>
	    		<option value="Empresa">Empresa</option>
	    		<option value="Persona">Persona</option>
	    	</select>
	    	<select name="lstEntidad" id="lstEntidad">
	    		<option value="0">Seleccione</option>
	    		<option value="Entel">Entel</option>
	    		<option value="COSAPI">COSAPI</option>
	    		<option value="Nissan">Nissan</option>
	    		<option value="Toyota">Toyota</option>
	    	</select>
	    </p>

	    <table>
	    	<tr>
	    		<td width="300">Arroz adobo de pollo con camote o papa</td>
	    		<td><input type="button" name="ralm101" id="ralm101" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm101" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm101" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm102" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm102" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm102" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm103" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm103" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm103" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Arroz + Hamburguesa + Vegetales</td>
	    		<td><input type="button" name="ralm101" id="ralm104" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm104" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm104" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm105" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm105" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm105" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm106" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm106" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm106" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Arroz con carne asada y ensalada rusa</td>
	    		<td><input type="button" name="ralm101" id="ralm107" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm107" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm107" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm108" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm108" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm108" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm109" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm109" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm109" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Pachamanca de cerdo</td>
	    		<td><input type="button" name="ralm101" id="ralm1010" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1010" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1010" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1011" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1011" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1011" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1012" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1012" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1012" value="+"></td>
	    	</tr>
	    </table>


	    <hr>


	    <table>
	    	<tr>
	    		<td width="300">Lomo Saltado</td>
	    		<td><input type="button" name="ralm101" id="ralm113" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm113" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm113" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm114" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm114" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm114" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm115" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm115" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm115" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Pollo Saltado</td>
	    		<td><input type="button" name="ralm101" id="ralm116" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm116" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm116" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm117" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm117" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm117" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1018" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1018" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1018" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Milanesa c/papas f. ensalada y arroz</td>
	    		<td><input type="button" name="ralm101" id="ralm1019" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1019" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1019" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1020" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1020" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1020" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1021" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1021" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1021" value="+"></td>
	    	</tr>
	    </table>


	    <hr>


	    <table>
	    	<tr>
	    		<td width="300">Flan</td>
	    		<td><input type="button" name="ralm101" id="ralm1022" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1022" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1022" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1023" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1023" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1023" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1024" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1024" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1024" value="+"></td>
	    	</tr>
	    	<tr>
	    		<td>Gelatina</td>
	    		<td><input type="button" name="ralm101" id="ralm1025" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1025" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1025" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1026" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1026" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1026" value="+"></td>
	    		<td><input type="button" name="ralm101" id="ralm1027" value="-"></td>
	    		<td><input type="text" name="alm101" id="alm1027" size="3" disabled></td>
	    		<td><input type="button" name="salm101" id="salm1027" value="+"></td>
	    	</tr>
	    </table>
	</form>
  </body>
</html>
