<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-mobile.css" media="only screen and (max-width: 450px)" />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
  </head>
  <body>
	<!-- barra de navegacion con bootstrap, estatica en la parte superior -->
  	<%- include('commons/nav-bar'); %>


	<!-- panel -->
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">
	    	<h3 class="panel-title"></h3>
	  	</div>
		<div class="panel-body">

			<div class="img-indice-logo-central"></div>
	
		</div>
	</div>

	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>