<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
  </head>
  <body onmousedown="elemento(event);">
    <!-- barra de navegacion con bootstrap, estatica en la parte superior -->
    <%- include('commons/nav-bar'); %>

    <!--panel-->
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Registrar Almuerzo</h3>
      </div>

      <div class="panel-body">

        <% if(datos.msj1 != ""){ %>
        <div class="alert alert-<%= datos.msjTipo %>"><%= datos.msj1 %></div>
        <% } %>

        <form name="f1" action="regAlmuerzoProgramado" method="post">
              <table class="table table-striped">
                <tr>
                  <td><label for="inputdefault">Nombre del Almuerzo:</label></td>
                  <td><input type="text" name="nombre_alm_prog" id="nombre_alm_prog" class="form-control"></td>
                </tr>
              </table>
          <input type="submit" class="btn btn-primary" value="Grabar">
        </form>

      </div>

    </div>
    <!--fin panel-->


  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>