<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/pedido.js"></script>
  </head>
  <body onmousedown="elemento(event);">
	<!-- barra de navegacion con bootstrap, estatica en la parte superior -->
  	<%- include('commons/nav-bar'); %>


	<!-- panel -->
	<br>
	<div class="panel panel-primary">
	 	<div class="panel-heading">
	    	<h3 class="panel-title">Registrar Pedido</h3>
	 	</div>
	 	<div class="panel-body">

			<form name="f1" action="regPedidoAdm" method="post">
			    <div class="form-group">
			    	<div class="row">
			    		<div class="col-xs-5"></div>
			    		<div class="col-xs-2">
			    			<input type="hidden" name="id_carta_x_fecha" id="id_carta_x_fecha" value="<%= fechaActual%>">
			    			<input type="text" class="form-control" name="vid_carta_x_fecha" id="vid_carta_x_fecha" value="<%= fechaActual%>" disabled>
			    		</div>
			    		<div class="col-xs-5"></div>
			    	</div>
			    </div>
			    <div class="form-group">
			    	<div class="row">
				    	<div class="col-xs-2">
				    		<label for="inputdefault">Entidad:</label>
					    	<select class="form-control" name="lstTipoPedido" id="lstTipoPedido">
					    		<option value="0">Seleccione</option>
					    		<option value="Empresa">Empresa</option>
					    		<option value="Persona">Persona</option>
					    	</select>
				    	</div>
				    	<div class="col-xs-4">
				    		<label for="inputdefault">Empresas/Personas</label>
					    	<select class="form-control" name="lstEntidad" id="lstEntidad">
					    		<option value="0">Seleccione</option>
					    		<option value="Entel">Entel</option>
					    		<option value="COSAPI">COSAPI</option>
					    		<option value="Nissan">Nissan</option>
					    		<option value="Toyota">Toyota</option>
					    	</select>
				    	</div>
			    	</div>
			    </div>


			    <table class="table table-striped">
			    	<tr>
			    		<th>Plato</th>
			    		<th class="text-center" colspan="3">Gratis</th>
			    		<th class="text-center" colspan="3">Al Crédito</th>
			    		<th class="text-center" colspan="3">Al Contado</th>
			    	</tr>
			    	<tr>
			    		<td width="300">
			    			<input type="hidden" name="id_alm_prog" id="hid_alm_prog1" value="1">
			    			Arroz adobo de pollo con camote o papa
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="ralm1" id="ralm1" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido1" id="halm1">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm1" id="alm1" size="1" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm1" id="salm1" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm2" id="ralm2" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido1" id="halm2">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm2" id="alm2" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm2" id="salm2" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm3" id="ralm3" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido1" id="halm3">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm3" id="alm3" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm3" id="salm3" value="+"></td>
			    	</tr>
			    	<tr>
			    		<td>
			    			<input type="hidden" name="id_alm_prog" id="hid_alm_prog2" value="2">
			    			Arroz + Hamburguesa + Vegetales
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="ralm104" id="ralm104" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido2" id="halm104">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm104" id="alm104" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm104" id="salm104" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm105" id="ralm105" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido2" id="halm105">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm105" id="alm105" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm105" id="salm105" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm106" id="ralm106" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido2" id="halm106">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm106" id="alm106" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm106" id="salm106" value="+"></td>
			    	</tr>
			    	<tr>
			    		<td>
			    			<input type="hidden" name="id_alm_prog" id="hid_alm_prog3" value="3">Arroz con carne asada y ensalada rusa
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="ralm107" id="ralm107" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido3" id="halm107">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm107" id="alm107" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm107" id="salm107" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm108" id="ralm108" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido3" id="halm108">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm108" id="alm108" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm108" id="salm108" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm109" id="ralm109" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido3" id="halm109">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm109" id="alm109" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm109" id="salm109" value="+"></td>
			    	</tr>
			    	<tr>
			    		<td>
			    			<input type="hidden" name="id_alm_prog" id="hid_alm_prog4" value="4">Pachamanca de cerdo
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="ralm110" id="ralm110" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido4" id="halm110">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm110" id="alm110" size="3" disabled></td>
			    		<td><input type="button" class="btn btn-default" name="salm110" id="salm110" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm111" id="ralm111" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido4" id="halm111">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm111" id="alm111" size="3" disabled></td>
			    		<td><input type="button" class="btn btn-default" name="salm111" id="salm111" value="+"></td>


			    		<td><input type="button" class="btn btn-default" name="ralm112" id="ralm112" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido4" id="halm112">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm112" id="alm112" size="3" disabled></td>
			    		<td><input type="button" class="btn btn-default" name="salm112" id="salm112" value="+"></td>
			    	</tr>
			    </table>



	    		<input type="button" class="btn btn-primary" onclick="document.f1.submit();" value="Submit">
			</form>
		</div>
	</div>
	<!--fin panel-->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>