<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker-4.17.37.min.css" />
    <script src="/javascripts/jquery-2.2.4.min.js"></script>
    <script src="/javascripts/moment-2.10.6.min.js"></script>
    <script src="/javascripts/moment-with-locales.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker-4.17.37.min.js"></script>
  </head>
   <body>
   	<!-- barra de navegacion con bootstrap, estatica en la parte superior -->
  	<%- include('commons/nav-bar'); %>

  	<!-- panel -->
	<br>
	<div class="panel panel-primary">
	 	<div class="panel-heading">
	    	<h3 class="panel-title">Exportar reporte de pedidos para las fechas</h3>
	 	</div>
	 	<div class="panel-body">

		 		<% if(msj1 != ""){ %>
	        	<div class="alert alert-<%= msjTipo %>"><%= msj1 %></div>
	        	<% } %>
	 			
				<form name="f1" action="reportePedidosExportToExcel" method="post">
			    	<div class="form-group">
			    		<div class="row">
				    		<div class="col-md-3">
				    			<label for="inputdefault">Desde</label>
				    			<div class='input-group date' id='datetimepicker1'>
				                    <input type='text' class="form-control" name="lstFechaInicio" id="lstFechaInicio" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				    		</div>
				    		<div class="col-md-3">
				    			<label for="inputdefault">Hasta</label>
					    		<div class='input-group date' id='datetimepicker2' >
				                    <input type='text' class="form-control" name="lstFechaFin" id="lstFechaFin" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				    		</div>
				    	</div>
			    	</div>
			    	<div class="form-group">
			    		<input type="button" class="btn btn-primary" onclick="document.f1.submit();" value="Exportar">
			    	</div>
			    </form>

			</div>
	</div>
	<!--fin panel-->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
            	format: 'YYYY-MM-DD',
            	locale: 'es'/*,
            	tooltips: {
		            today: 'Revenir à aujourd\'hui',
		            clear: 'Effacer la sélection',
		            close: 'Fermer',
		            selectMonth: 'Sélectionner le mois',
		            prevMonth: 'Mois précédent',
		            nextMonth: 'Mois suivant',
		            selectYear: 'Sélectionner l\'année',
		            prevYear: 'Année précédente',
		            nextYear: 'Année suivante',
		            selectDecade: 'Sélectionner la décénnie',
		            prevDecade: 'Décénnie précédente',
		            nextDecade: 'Décennie suivante',
		            prevCentury: 'Siècle précédent',
		            nextCentury: 'Siècle suivant'
		        }*/

		        /*
		        longDateFormat : {
				        LT : 'H:mm',
				        LTS : 'H:mm:ss',
				        L : 'DD/MM/YYYY',
				        LL : 'D [de] MMMM [de] YYYY',
				        LLL : 'D [de] MMMM [de] YYYY H:mm',
				        LLLL : 'dddd, D [de] MMMM [de] YYYY H:mm'
				},
				*/
            });

            $('#datetimepicker2').datetimepicker({
            	format: 'YYYY-MM-DD',
            	locale: 'es'/*,
            	tooltips: {
		            today: 'Revenir à aujourd\'hui',
		            clear: 'Effacer la sélection',
		            close: 'Fermer',
		            selectMonth: 'Sélectionner le mois',
		            prevMonth: 'Mois précédent',
		            nextMonth: 'Mois suivant',
		            selectYear: 'Sélectionner l\'année',
		            prevYear: 'Année précédente',
		            nextYear: 'Année suivante',
		            selectDecade: 'Sélectionner la décénnie',
		            prevDecade: 'Décénnie précédente',
		            nextDecade: 'Décennie suivante',
		            prevCentury: 'Siècle précédent',
		            nextCentury: 'Siècle suivant'
		        }*/

		        /*
		        longDateFormat : {
				        LT : 'H:mm',
				        LTS : 'H:mm:ss',
				        L : 'DD/MM/YYYY',
				        LL : 'D [de] MMMM [de] YYYY',
				        LLL : 'D [de] MMMM [de] YYYY H:mm',
				        LLLL : 'dddd, D [de] MMMM [de] YYYY H:mm'
				},
				*/
            });
            
        });
    </script>
	</body>
</html>