body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* estilos por Guido Cancino */
.img-indice-logo-central{
	background: url('../images/centos_logo.jpg') no-repeat center center;
	width: 99%;
	height: 300px;
}