<!-- barra de navegacion con bootstrap, estatica en la parte superior -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toogle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/home" class='navbar-brand'>GCE</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/registrar-pedido">Pedido</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          			Registros <b class="caret"></b>
	        			</a>
	        			<ul class="dropdown-menu">
				          <li><a href="/registrar-plato">Platos</a></li>
				          <li class="divider"></li>
				          <li><a href="/registrar-carta-por-fecha">Carta de Hoy</a></li>
				        </ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          			Reportes <b class="caret"></b>
	        			</a>
	        			<ul class="dropdown-menu">
				          <li><a href="/reporte-pedidos-filtros">Reporte de Pedidos</a></li>
				          <li class="divider"></li>
				          <li><a href="/reporte-los-mas-votados-filtros">Reporte de los platos más Votados</a></li>
				        </ul>
					</li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>